@import "src/assets/global scss/fonts";

:host {
  .main {
    &__search-container {
      //display: none;
      transition: .4s;
      background: $black;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: translateY(100%);

      &_enable {
        transform: translateY(0);
        display: flex;
        width: 100%;

        opacity: 0.6;
        transition: .4s;
      }
    }

    &__search-line {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__search-input {
      width: 100%;
      max-width: 600px;
    }
  }
}
