<app-header (onToggleSearch)="changeStateSearchWindow($event)"></app-header>
<div
  [ngClass]="{'main__search-container_enable':isActiveSearch}"
     class="main__search-container">
  <div class="main__search-line">
    <app-ui-input
      class="main__search-input"
      placeholder="Поиск">
    </app-ui-input>
  </div>
</div>

<!--<div class="main__carousel">-->
<!--  <app-ui-carousel></app-ui-carousel>-->
<!--</div>-->

<div class="main-knowledge">
  <div class="main-knowledge__title">Узнать Больше</div>
  <div class="main-knowledge__body">
    <div class="main-knowledge__circle">Новости</div>
    <div class="main-knowledge__circle">Видео</div>
    <div class="main-knowledge__circle">Фото</div>
    <div class="main-knowledge__line"></div>
  </div>
</div>

<div class="main__news">
<app-ui-news></app-ui-news>
</div>


<!--<div class="feedback">-->
<!--  <div class="feedback__info">-->
<!--    <div class="feedback__info__title">Получите Информацию</div>-->
<!--    <div class="feedback__info__input">-->
<!--      <input class="feedback__info__input__text" type="email" placeholder="Введите Ваш e-mail адрес">-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="feedback__news">-->
<!--    <div class="feedback__news__title">Следить за Новостями</div>-->
<!--    <div class="feedback__news__networks">-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="laboratory">
  <div class="laboratory__bg">
    <img src="" class="laboratory__background">
  </div>
  <div class="laboratory__title">Лаборатории</div>
  <div class="laboratory__subtitle">
    Принимая во внимание показатели успешности, укрепление и развитие
    внутренней структуры играет важную роль в формировании
    своевременного выполнения сверхзадачи.
  </div>
  <div class="laboratory__main">
    <div class="laboratory__main__block">
      <div class="laboratory__main__block__title">Радиотехниеская</div>
      <div class="laboratory__main__block__subtitle">
        <ul>
          <li>исследование новых
            возможностей</li>
          <p></p>
          <li>продвижение</li>
          <p></p>
          <li>обследование и
            анализ</li>
        </ul>
      </div>
      <div class="laboratory__main__block__button"></div>
    </div>
    <div class="laboratory__main__block">
      <div class="laboratory__main__block__title">Цифровая</div>
      <div class="laboratory__main__block__subtitle">
        <ul>
          <li>исследование новых
            возможностей</li>
          <p></p>
          <li>продвижение</li>
          <p></p>
          <li>обследование и
            анализ</li>
        </ul>
      </div>
      <div class="laboratory__main__block__button"></div>
    </div>
    <div class="laboratory__main__block">
      <div class="laboratory__main__block__title">Конструкторская</div>
      <div class="laboratory__main__block__subtitle">
        <ul>
        <li>исследование новых
        возможностей</li>
          <p></p>
        <li>продвижение</li>
          <p></p>
        <li>обследование и
        анализ</li>
        </ul>
      </div>
      <div class="laboratory__main__block__button">
      </div>
    </div>
  </div>
</div>
