<app-header (onToggleSearch)="changeStateSearchWindow($event)"></app-header>
<div [ngClass]="{'main__search-container_enable':isActiveSearch}"
  class="main__search-container">
  <div class="main__search-line">
    <app-ui-input
      class="main__search-input"
      placeholder="Поиск">
    </app-ui-input>
  </div>
</div>
<!--<div class="title">-->
<!--  <div class="title__up">НИЛ Методов</div>-->
<!--  <div class="title__down">Обработки Информации</div>-->
<!--</div>-->
<!--<img src="/assets/images/pic-1.png" class="main-picture" alt="">-->

