<div class="header-news">
  <app-header></app-header>
</div>

<div class="title">
  <div class="title__line"></div>
  <div class="title__text">Новости</div>
  <div class="title__line"></div>
</div>

<div class="news">
  <div class="news__main">
  <div class="news__pic">
    <img src="/assets/images/news-pic.png" class="news__pic__style">
  </div>
  <div class="news__block">
    <div class="news__data">20 ноября 2020 г.</div>
    <div class="news__title">Новые модули в структуре комплекса лаборатории Промышленных сетей</div>
    <div class="news__subtitle">Установка новых модулей позволить расширить сеть факультетских лабораторий и определить
      новые направления развития</div>
  </div>
  </div>
</div>

<div class="news__line"></div>

<div class="news">
  <div class="news__main">
  <div class="news__pic">
    <img src="/assets/images/news-pic.png" class="news__pic__style">
  </div>
  <div class="news__block">
    <div class="news__data">20 ноября 2020 г.</div>
    <div class="news__title">Новые модули в структуре комплекса лаборатории Промышленных сетей</div>
    <div class="news__subtitle">Установка новых модулей позволить расширить сеть факультетских лабораторий и определить
      новые направления развития</div>
  </div>
  </div>
</div>

<div class="news__line"></div>

<div class="news">
  <div class="news__main">
  <div class="news__pic">
    <img src="/assets/images/news-pic.png" class="news__pic__style">
  </div>
  <div class="news__block">
    <div class="news__data">20 ноября 2020 г.</div>
    <div class="news__title">Новые модули в структуре комплекса лаборатории Промышленных сетей</div>
    <div class="news__subtitle">Установка новых модулей позволить расширить сеть факультетских лабораторий и определить
      новые направления развития</div>
  </div>
  </div>
</div>

<div class="news__line"></div>

<div class="news">
  <div class="news__main">
  <div class="news__pic">
    <img src="/assets/images/news-pic.png" class="news__pic__style">
  </div>
  <div class="news__block">
    <div class="news__data">20 ноября 2020 г.</div>
    <div class="news__title">Новые модули в структуре комплекса лаборатории Промышленных сетей</div>
    <div class="news__subtitle">Установка новых модулей позволить расширить сеть факультетских лабораторий и определить
      новые направления развития</div>
  </div>
  </div>
</div>

<div class="news__button">Больше</div>

<div class="footer">
  <div class="footer__svg">
    <img src="/assets/icons/logo.png" height="40" width="32"/></div>
  <div class="footer__title">
    <div class="footer__up-title">Факультет Радиофизики и Компьютерных Технологий</div>
    <div class="footer__down-title">Белорусский Государственный Университет</div>
  </div>
</div>
