<app-header></app-header>
<div class="container">
  <div class="clip clip1">
    <div class="info">
      <h2>Image info 1</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cupiditate accusantium earum nam autem voluptas
        excepturi ut quasi unde placeat? Magnam aliquid officia eveniet quos corporis optio mollitia eaque minima?
      </p>
    </div>
  </div>
  <div class="clip clip2">
    <div class="info">
      <h2>Image info 2</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cupiditate accusantium earum nam autem voluptas
        excepturi ut quasi unde placeat? Magnam aliquid officia eveniet quos corporis optio mollitia eaque minima?
      </p>
    </div>
  </div>
  <div class="clip clip3">
    <div class="info">
      <h2>Image info 3</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cupiditate accusantium earum nam autem voluptas
        excepturi ut quasi unde placeat? Magnam aliquid officia eveniet quos corporis optio mollitia eaque minima?
      </p>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer__svg">
    <img src="/assets/icons/logo.png" height="40" width="32"/></div>
  <div class="footer__title">
    <div class="footer__up-title">Факультет Радиофизики и Компьютерных Технологий</div>
    <div class="footer__down-title">Белорусский Государственный Университет</div>
  </div>
</div>
