<div class="header-lab">
  <app-header></app-header>
</div>

<div class="info">
  <div class="info__name">{{lab?.titleOfLab}}</div>
  <div class="info__bottom">
    <div class="info__block">
      <div class="info__block__pic" [ngSwitch]="lab?.labId">
      <app-ui-signal *ngSwitchCase="2"></app-ui-signal>
        <app-ui-circile-load *ngSwitchCase="1"></app-ui-circile-load>
        <app-ui-cubes *ngSwitchCase="0"></app-ui-cubes>
      </div>
      <div class="info__block__title">{{lab?.titleOfLab}}</div>
      <div class="info__block__subtitle">{{lab?.subtitle}}
      </div>
    </div>
    <div class="info__line"></div>
    <div class="info__block">
      <div class="info__block__pic">
        <img src="/assets/icons/cloud.svg">
      </div>
      <div class="info__block__title">Промышленный Интернет Вещей</div>
      <div class="info__block__subtitle"> Управление производством в режиме реального времени
        интеллектуальной системой через взаимодействие с глобальной средой
      </div>
    </div>
  </div>
</div>

<div class="main-text" >
  <div class="main-text__component" *ngFor="let article of lab?.arrayOfArticles">
    <div class="main-text__pic">
      <img [attr.src]="article?.image" class="main-text__pic__style">
    </div>
    <div class="main-text__title">{{article?.description}}
    </div>
  </div>

<!--  <div class="main-text__component">-->
<!--    <div class="main-text__pic">-->
<!--      <img src="/assets/images/lab-5.png" class="main-text__pic__style">-->
<!--    </div>-->
<!--    <div class="main-text__title">-->
<!--      <ul>-->
<!--        В структуре комплекса можно выделить следующие модули:-->
<!--        <li> центральный модуль управления (выполнен на базе ПК);</li>-->
<!--        <li> иерархическая промышленная сеть (выполнена на базе оборудования компании MOXA);</li>-->
<!--        <li> удаленные модули управления (выполнены на базе ПЛК и плат Arduino, STM Discovery и R-rry Pi);</li>-->
<!--        <li> набор оконечных устройств (датчики и исполнительные механизмы);</li>-->
<!--        <li> устройства и шины связи;</li>-->
<!--        <li> источники питания компонентов сети, удаленных модулей управления, датчиков и исполнительных механизмов.-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
</div>

<div class="footer">
  <div class="footer__svg">
    <img src="/assets/icons/logo.png" height="40" width="32"/></div>
  <div class="footer__title">
    <div class="footer__up-title">Факультет Радиофизики и Компьютерных Технологий</div>
    <div class="footer__down-title">Белорусский Государственный Университет</div>
  </div>
</div>
