<div class="header-lab">
  <app-header></app-header>
</div>

<div class="info">
  <div class="info__name">Изучение Промышленных Сетей</div>
  <div class="info__bottom">
  <div class="info__block">
    <div class="info__block__pic">
      <img src="/assets/icons/gears.svg">
    </div>
    <div class="info__block__title">Автоматизация Технологических Процессов </div>
    <div class="info__block__subtitle">Соединение достижений в области индустрии с новейшими
      достижениями в области информатизации</div>
  </div>
    <div class="info__line"></div>
  <div class="info__block">
    <div class="info__block__pic">
      <img src="/assets/icons/cloud.svg">
    </div>
    <div class="info__block__title">Промышленный Интернет Вещей</div>
    <div class="info__block__subtitle"> Управление производством в режиме реального времени
      интеллектуальной системой через взаимодействие с глобальной средой</div>
  </div>
  </div>
</div>

<div class="main-text">
  <div class="main-text__component">
    <div class="main-text__pic">
      <img src="/assets/images/lab-1.png" class="main-text__pic__style">
    </div>
    <div class="main-text__title">Автоматизация технологических процессов – одна из актуальных задач для промышленности Республики Беларусь. Максимального эффекта можно добиться от соединения достижений в области индустрии с новейшими достижениями в области информатизации. Новое направление развития промышленности знаменует собой четвертую промышленною революцию. Она связана с интернетом вещей и искусственным интеллектом.  «Умное оборудование» на «умных фабриках» будет самостоятельно, без участия человека, выходить в сеть, передавать и получать необходимую для работы информацию. Все решения в цифровой экономике будут приниматься, исходя из возможностей и ресурсов ИТ. </div>
  </div>
  <div class="main-text__component">
    <div class="main-text__title">Технологической основой для перехода к новой парадигме является промышленный интернет вещей – Industrial Internet of Things (IIoT). Производством в режиме реального времени будет управлять интеллектуальная система через взаимодействие с глобальной средой. Все технические устройства будут обеспечивать обратную связь, принимать технологические решения с последующей перенастройкой производства. </div>
    <div class="main-text__pic">
      <img src="/assets/images/lab-2.png" class="main-text__pic__style">
    </div>
  </div>
  <div class="main-text__component">
    <div class="main-text__pic">
      <img src="/assets/images/lab-3.png" class="main-text__pic__style">
    </div>
    <div class="main-text__title">Современные системы управления технологическим процессом обычно строятся по иерархическому принципу. Иерархический принцип подразумевает, что разработчик выбирает структуру системы, подобную структуре объекта автоматизации. Каждая подсистема разрабатываемой системы является локальной, то есть все обратные связи замкнуты в пределах этой подсистемы. В каждой локальной подсистеме есть свои отдельные функции, которые задаются логикой функционирования всей системы. Иерархический принцип построения упрощает процесс проектирования многоуровневой системы и обеспечивает ее структурную (архитектурную) надежность.</div>
  </div>
  <div class="main-text__component">
    <div class="main-text__title">В БГУ на кафедре телекоммуникаций и информационных технологий  при поддержке компании MOXA и ООО «АЙ ЭМ СИ КОМПЬЮТЕРС» был создан учебно-исследовательский аппаратно-программный комплекс для изучения промышленных сетей, промышленных компьютеров, промышленных контроллеров, промышленного интернета вещей (IIoT), телекоммуникационных систем и технологий.</div>
    <div class="main-text__pic">
      <img src="/assets/images/lab-4.jpg" class="main-text__pic__style">
    </div>
  </div>
  <div class="main-text__component">
    <div class="main-text__pic">
      <img src="/assets/images/lab-5.png" class="main-text__pic__style">
    </div>
    <div class="main-text__title">
      <ul>
        В структуре комплекса можно выделить следующие модули:
        <li>	центральный модуль управления (выполнен на базе ПК);</li>
        <li>	иерархическая промышленная сеть (выполнена на базе оборудования компании MOXA);</li>
        <li>	удаленные модули управления (выполнены на базе ПЛК и плат Arduino, STM Discovery и R-rry Pi);</li>
        <li>	набор оконечных устройств (датчики и исполнительные механизмы);</li>
        <li>	устройства и шины связи;</li>
        <li>	источники питания компонентов сети, удаленных модулей управления, датчиков и исполнительных механизмов.</li>
      </ul>
    </div>
  </div>
</div>

<div class="scheme">
  <div class="scheme__name"> <p>Структурная схема учебной <b> иерархической промышленной сети </b></p> </div>
  <div class="scheme__pic">
    <img src="/assets/images/lab-6.png" class="">
  </div>
  <div class="scheme__title">Авторы</div>
  <div class="scheme__subtitle"> Шалатонин И.А. (БГУ), Станкевич Д.С. (БГУ), Розум Ю.А. (АЙ ЭМ СИ КОМПЬЮТЕРС), Цеховой И.А. (БГУ)</div>
</div>

<div class="footer">
  <div class="footer__svg">
    <img src="/assets/icons/logo.png" height="40" width="32"/></div>
  <div class="footer__title">
    <div class="footer__up-title">Факультет Радиофизики и Компьютерных Технологий</div>
    <div class="footer__down-title">Белорусский Государственный Университет</div>
  </div>
</div>
