<div class="contacts">
  <app-header [isChild]="true"
              (onToggleSearch)="changeStateSearchWindow($event)"
              class="contact__header"></app-header>
  <div
    [ngClass]="{'contacts__search-container_enable':isActiveSearch}"
    class="contacts__search-container">
    <div class="contacts__search-line">
      <app-ui-input
        class="contacts__search-input"
        placeholder="Поиск">
      </app-ui-input>
    </div>
  </div>
  <div class="contacts__body">
    <div class="contacts__background">
    </div>
    <div class="box">
      <a class="card" href="https://bsu.by/employee/40235-d" target="_blank">
        <div class="imgBx">
          <img src="https://bsu.by/upload/cacheResize/d0e/35e/f295bc05cf6d3fada7bd35a934ee6730.jpeg" alt="images">
        </div>
        <div class="details">
          <h2>Иван Алексеевич
            Шалатонин<br><span>

Старший преподаватель</span></h2>
        </div>
      </a>

      <a class="card" href="https://bsu.by/employee/41229-d" target="_blank">
        <div class="imgBx">
          <img src="https://bsu.by/upload/cacheResize/a3b/315/023abf92612080df891d68998a81f54c.png" alt="images">
        </div>
        <div class="details">
          <h2>Елена Ивановна
            Козлова<br><span>
Кандидат физико-математических наук, доцент</span></h2>
        </div>
      </a>

      <a class="card" href="https://bsu.by/employee/39891-d" target="_blank">
        <div class="imgBx">
          <img src="https://bsu.by/upload/cacheResize/a62/882/e604ec45cc995f75ad450ea68acff51d.png" alt="images">
        </div>
        <div class="details">
          <h2>Юрий Иосифович
            Воротницкий<br><span>
Кандидат физико-математических наук, доцент</span></h2>
        </div>
      </a>

    </div>
    <div class="title">
      <div class="title__line"></div>
      <div class="title__text">Контакты</div>
      <div class="title__line"></div>
    </div>

    <div class="info">
      <div class="info__main">

      <div class="info__feed">

        <div class="info__feed-block">
          <div class="info__svg">
            <img src="/assets/icons/dean.svg" alt="">
          </div>
          <div class="info__title">
            <div class="info__title__up">Декан</div>
            <div class="info__title__down">Малый Сергей Владимирович — доцент, кандидат физико-математических наук</div>
          </div>
        </div>

        <div class="info__feed-block">
          <div class="info__svg">
            <img src="/assets/icons/address.svg" alt="">
          </div>
          <div class="info__title">
            <div class="info__title__up">Адрес</div>
            <div class="info__title__down">220064 Беларусь, г.Минск,  ул. Курчатова, 5</div>
          </div>
        </div>

        <div class="info__feed-block">
          <div class="info__svg">
            <img src="/assets/icons/mail.svg" alt="">
          </div>
          <div class="info__title">
            <div class="info__title__up">e-mail</div>
            <div class="info__title__down">maly@bsu.by</div>
          </div>
        </div>

        <div class="info__feed-block">
          <div class="info__svg">
            <img src="/assets/icons/phone.svg" alt="">
          </div>
          <div class="info__title">
            <div class="info__title__up">Телефон / факс</div>
            <div class="info__title__down">+ 375 (17) 209 - 58 -18</div>
          </div>
        </div>
      </div>

      <div class="info__location">

          <div class="info__location-title">Как до нас добраться?</div>

          <div class="info__location-block">
            <div class="info__svg">
              <img src="/assets/icons/bus.svg" alt="">
            </div>
            <div class="info__title">
              <div class="info__title__local">Автобусом № 47c от ж/д вокзала (остановка "Вокзал") до остановки «Факультет радиофизики»;</div>
            </div>
          </div>

          <div class="info__location-block">
            <div class="info__svg">
              <img src="/assets/icons/bus.svg" alt="">
            </div>
            <div class="info__title">
              <div class="info__title__local">Автобусами № 96, 132 до остановки «Факультет радиофизики»;</div>
            </div>
          </div>

          <div class="info__location-block">
            <div class="info__svg">
              <img src="/assets/icons/bus.svg" alt="">
            </div>
            <div class="info__title">
              <div class="info__title__local">Автобусами № 28,  30с, 97, 104, 114, 144с до остановки «Поворот на филиал БГУ»/«Наполеона Орды»;</div>
            </div>
          </div>

          <div class="info__location-block">
            <div class="info__svg">
              <img src="/assets/icons/electro-bus.svg" alt="">
            </div>
            <div class="info__title">
              <div class="info__title__local">Электричкой Столбцовского направления до ст. «Роща».</div>
            </div>
          </div>

          <div class="info__location-block">
            <div class="info__svg">
              <img src="/assets/icons/metro.svg" alt="">
            </div>
            <div class="info__title">
              <div class="info__title__local">На метро до конечной станции «Малиновка» + 10 минут ходьбы пешком (мимо гипермаркета ОМА) в сторону перехода под МКАД.</div>
            </div>
          </div>
    </div>

      </div>
    </div>

   <div class="map">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8389.273330609194!2d27.47233860353736!3d53.84001424697207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd0914dae7b1f%3A0xfc6e5888144a4dd6!2z0KTQsNC60YPQu9GM0YLQtdGCINCg0LDQtNC40L7RhNC40LfQuNC60Lgg0Lgg0JrQvtC80L_RjNGO0YLQtdGA0L3Ri9GFINCi0LXRhdC90L7Qu9C-0LPQuNC5ICjQpNCg0LjQmtCiKSwg0JHQk9Cj!5e0!3m2!1sru!2sby!4v1605448716174!5m2!1sru!2sby" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="map__block"></iframe>
   </div>

    <div class="footer">
      <div class="footer__svg">
        <img src="/assets/icons/logo.png" height="40" width="32"/></div>
      <div class="footer__title">
        <div class="footer__up-title">Факультет Радиофизики и Компьютерных Технологий</div>
        <div class="footer__down-title">Белорусский Государственный Университет</div>
      </div>
    </div>

  </div>


