<app-header></app-header>

<div class="laboratories__container">
  <img src="/assets/images/colbs.png" class="laboratories__logo" alt="Лаборатории">
  <div class="laboratories__triangles">
    <h1 style="font-family: cursive;"></h1>
    <div class="accordion">
      <ul>
        <li tabindex="1">
          <div>
            <div class="btn">
              <div class="number"><i class='fas fa-laptop' style='font-size:24px'></i></div>
              <div class="content">
                <h2>Лаборатория глубокого обучения</h2>
                <p>Курчатова, 1, ауд. 56. </p>
                <a (click)="navigateToPage('2')">Узнать больше</a>
              </div>
            </div>
          </div>
        </li>
        <li tabindex="2">
          <div>
            <div class="btn">
              <div class="number"><i class='fas fa-shield-alt' style='font-size:24px'></i></div>
              <div class="content">
                <h2>Лаборатория промышленных сетей и интернета вещей</h2>
                <p>Курчатова, 5, ауд. 505.</p>
                <a (click)="navigateToPage('0')">Узнать больше</a>
              </div>
            </div>
          </div>
        </li>
        <li tabindex="3">
          <div>
            <div class="btn">
              <div class="number"><i class='fas fa-theater-masks' style='font-size:24px'></i></div>
              <div class="content">
                <h2>Лаборатория автоматизированного проектирования</h2>
                <p>Курчатова, 5, ауд. 619а.</p>
                <a (click)="navigateToPage('1')">Узнать больше</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<body>
<div class="container">
  <div class="clip clip1">
    <div class="info">
      <h2>Image info 1</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cupiditate accusantium earum nam autem voluptas excepturi ut quasi unde placeat? Magnam aliquid officia eveniet quos corporis optio mollitia eaque minima?
      </p>
    </div>
  </div>
  <div class="clip clip2">
    <div class="info">
      <h2>Image info 2</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cupiditate accusantium earum nam autem voluptas excepturi ut quasi unde placeat? Magnam aliquid officia eveniet quos corporis optio mollitia eaque minima?
      </p>
    </div>
  </div>
  <div class="clip clip3">
    <div class="info">
      <h2>Image info 3</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cupiditate accusantium earum nam autem voluptas excepturi ut quasi unde placeat? Magnam aliquid officia eveniet quos corporis optio mollitia eaque minima?
      </p>
    </div>
  </div>
</div>
</body>

<div class="footer">
  <div class="footer__svg">
    <img src="/assets/icons/logo.png" height="40" width="32"/></div>
  <div class="footer__title">
    <div class="footer__up-title">Факультет Радиофизики и Компьютерных Технологий</div>
    <div class="footer__down-title">Белорусский Государственный Университет</div>
  </div>
</div>
