<app-header></app-header>

<div class="laboratories__container">
  <img src="/assets/images/colbs.png" class="laboratories__logo" alt="Лаборатории">
  <div class="laboratories__triangles">
    <h1 style="font-family: cursive;"></h1>
    <div class="accordion">
      <ul>
        <li tabindex="1">
          <div>
            <div class="btn">
              <div class="number"><i class='fas fa-laptop' style='font-size:24px'></i></div>
              <div class="content">
                <h2>Лаборатория глубокого обучения</h2>
                <p>Курчатова, 1, ауд. 56. </p>
                <a (click)="navigateToPage('2')">Узнать больше</a>
              </div>
            </div>
          </div>
        </li>
        <li tabindex="2">
          <div>
            <div class="btn">
              <div class="number"><i class='fas fa-shield-alt' style='font-size:24px'></i></div>
              <div class="content">
                <h2>Лаборатория промышленных сетей и интернета вещей</h2>
                <p>Курчатова, 5, ауд. 505.</p>
                <a (click)="navigateToPage('0')">Узнать больше</a>
              </div>
            </div>
          </div>
        </li>
        <li tabindex="3">
          <div>
            <div class="btn">
              <div class="number"><i class='fas fa-theater-masks' style='font-size:24px'></i></div>
              <div class="content">
                <h2>Лаборатория автоматизированного проектирования</h2>
                <p>Курчатова, 5, ауд. 619а.</p>
                <a (click)="navigateToPage('1')">Узнать больше</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="horizontal">

    <div class="flip" [routerLink]="['/scheme/0']">
      <div class="front"
           style="background-image: url('https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb')">
        <h1 class="text-shadow">MOUNTAIN</h1>
      </div>
      <div class="back">
        <h2>Angular</h2>
        <p>Good tools make application development quicker and easier to maintain than if you did everything by
          hand..</p>
      </div>
    </div>
    <div class="flip" [routerLink]="['/scheme/1']">
      <div class="front"
           style="background-image: url('https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb')">
        <h1 class="text-shadow">LAKE</h1>
      </div>
      <div class="back">
        <h2>Angular</h2>
        <p>Good tools make application development quicker and easier to maintain than if you did everything by
          hand..</p>
      </div>
    </div>
    <div class="flip" [routerLink]="['/scheme/2']">
      <div class="front"
           style="background-image: url('https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb')">
        <h1 class="text-shadow">OCEAN</h1>
      </div>
      <div class="back">
        <h2>Angular</h2>
        <p>Good tools make application development quicker and easier to maintain than if you did everything by
          hand..</p>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="vertical">

    <div class="flip flip-vertical" [routerLink]="['/scheme/3']">
      <div class="front"
           style="background-image: url('https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb')">
        <h1 class="text-shadow">FOREST</h1>
      </div>
      <div class="back">
        <h2>Angular</h2>
        <p>Good tools make application development quicker and easier to maintain than if you did everything by
          hand..</p>
      </div>
    </div>
    <div class="flip flip-vertical" [routerLink]="['/scheme/4']">
      <div class="front"
           style="background-image: url('https://images.pexels.com/photos/34950/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb')">
        <h1 class="text-shadow">TRACK</h1>
      </div>
      <div class="back">
        <h2>Angular</h2>
        <p>Good tools make application development quicker and easier to maintain than if you did everything by
          hand..</p>
      </div>
    </div>
    <div class="flip flip-vertical" [routerLink]="['/scheme/5']">
      <div class="front"
           style="background-image: url('https://images.pexels.com/photos/34546/sunset-lake-landscape-summer.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb')">
        <h1 class="text-shadow">SWAMP</h1>
      </div>
      <div class="back">
        <h2>Angular</h2>
        <p>Good tools make application development quicker and easier to maintain than if you did everything by
          hand..</p>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="footer__svg">
    <img src="/assets/icons/logo.png" height="40" width="32"/></div>
  <div class="footer__title">
    <div class="footer__up-title">Факультет Радиофизики и Компьютерных Технологий</div>
    <div class="footer__down-title">Белорусский Государственный Университет</div>
  </div>
</div>
