<div class="laboratories__container">
  <img src="/assets/icons/Labs.svg" class="laboratories__logo" alt="Лаборатории">
  <div class="laboratories__triangles">
    <h1 style="font-family: cursive;"></h1>
    <div class="accordion">
      <ul>
        <li tabindex="1">
          <div>
            <div class="btn">
              <div class="number"><i class='fas fa-laptop' style='font-size:24px'></i></div>
              <div class="content">
                <h2>Лаборатория глубокого обучения</h2>
                <p>Курчатова, 1, ауд. 56. </p>
                <a  (click)="navigateToPage()">Узнать больше</a>
              </div>
            </div>
          </div>
        </li>
        <li tabindex="2">
          <div>
            <div class="btn">
              <div class="number"><i class='fas fa-shield-alt' style='font-size:24px'></i></div>
              <div class="content">
                <h2>Лаборатория промышленных сетей и интернета вещей</h2>
                <p>Курчатова, 5, ауд. 505.</p>
                <a (click)="navigateToPage()">Узнать больше</a>
              </div>
            </div>
          </div>
        </li>
        <li tabindex="3">
          <div>
            <div class="btn">
              <div class="number"><i class='fas fa-theater-masks' style='font-size:24px'></i></div>
              <div class="content">
                <h2>Лаборатория автоматизированного проектирования</h2>
                <p>Курчатова, 5, ауд. 619а.</p>
                <a (click)="navigateToPage()">Узнать больше</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
