@import "../../../../assets/global_scss/fonts";

:host {
  .laboratories {
    &__container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-color: $white;
    }

    &__logo {
      width: 10%;
      height: 10%;
      margin: 5px auto;

      @media (max-width: 750px) {
        width: 70px;
        height: 70px;
      }
    }
  }
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');


h1 {
  text-align: center;
  font-family: Montserrat,sans-serif;
  color: #26efb9;
}

.accordion {
  width: 100%;
  max-width: 1080px;
  height: 250px;
  overflow: hidden;
  margin: 50px auto;
  background-color: transparent;
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.accordion ul li:first-child {
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 49%, 0% 0%);
}

.accordion ul li:last-child {
clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li div .btn {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 10px 40px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
  background: rgba(38, 239, 185, 0.3);
}

.accordion ul li:last-child .btn {
  border-right: 0;
}

.number {
  text-align: center;
  margin: 0;
  position: relative;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: #26efb9;
  font-size: 20px;
  background-color: black;
  line-height: 40px;
  width: 40px!important;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  border: solid 2px #26efb9;
}

.accordion ul li div .btn .content {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.accordion ul li div .btn h2 {
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  color: #000;
}

.accordion ul li div .btn p {
  font-size: 13.5px;
  color: #000;
}

.accordion ul li div .btn a {
  font-size: 13.5px;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #3AEFB9;
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
}

.accordion ul li div .btn a:hover {
  background-color: #3AEFB9;
  color: #000;
}

.accordion ul li:nth-child(1) {
  background-image: url("https://www.jasonmpittman.com/wp-content/uploads/2019/03/comp-sci.jpg");
}

.accordion ul li:nth-child(2) {
  background-image: url("https://i2.wp.com/blog.logsign.com/wp-content/uploads/2019/12/IT-security-vs-Cyber-Security.png?fit=772%2C386&ssl=1");
}

.accordion ul li:nth-child(3) {
  background-image: url("https://www.iisecurity.in/images/courses/chfi.jpg");
}

.accordion ul li:nth-child(4) {
  background-image: url("https://cdn-media-1.freecodecamp.org/images/ghF0kB011QpDd5vWRlaUjD1H0NxV6dLsKfjf");
}

.accordion ul li:nth-child(5) {
  background-image: url("https://adoptostaging.blob.core.windows.net/media/python-developer-job-description-template-76fG8u.jpg");
}

.accordion ul li:nth-child(6) {
  background-image: url("https://www.rse.org.uk/wp-content/uploads/2019/06/Brain-Image_201900607.jpeg");
}

.accordion ul li:nth-child(7) {
  background-image: url("https://al.nd.edu/assets/380450/1000x562/bacs_code.jpg");
}

.accordion ul:hover li,
.accordion ul:focus-within li {
  width: 8%;
  border-right: solid 2px #252525;
  clip-path: polygon(93% 0, 100% 50%, 93% 100%, 0% 100%, 0 50%, 0% 0%);
}

.accordion ul li:focus {
  outline: none;
}

.accordion ul:hover li:hover,
.accordion ul li:focus,
.accordion ul:focus-within li:focus {
  width: 60%;
  border-right: 0;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 0 50%, 0% 0%);
}

.accordion ul:hover li:hover .btn,
.accordion ul li:focus a,
.accordion ul:focus-within li:focus a {
  background: rgba(255, 255, 255, 0.8);
}

.accordion ul:hover li:hover .btn .content,
.accordion ul li:focus .btn .content,
.accordion ul:focus-within li:focus div.btn .content {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.accordion ul:hover li {
  width: 8% !important;
  clip-path: inset(0 0 0 0);
}

.accordion ul:hover li .btn .content,
.accordion ul:hover li .btn .number {
  opacity: 0 !important;
}

.accordion ul:hover li:hover {
  width: 60% !important;
}

.accordion ul:hover li:hover .btn {
  background: rgba(255, 255, 255, 0.7);
}

.accordion ul:hover li:hover .btn .content {
  opacity: 1 !important;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.fancybox-content {
  width: 650px;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }

  .accordion ul li, .accordion ul li:hover,        .accordion ul:hover li, .accordion ul:hover      li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}

.footer{
  width: 100%;
  height: 150px;
  display: flex;
  background-color: #DADADA;
  justify-content: center;
  align-items: center;

  &__svg{
    display: flex;
    margin-right: 33px;
  }

  &__up-title{
    @include font-oswald-15-normal;

    @media (max-width: 440px){
      display: none;
    }
  }

  &__down-title {
    @include font-oswald-15-normal;

    @media (max-width: 440px) {
      display: none;
    }
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.container{
  display: flex;
  flex-direction: column;

  @media (max-width: 1200px) {
    flex-direction: row;
  }
  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.vertical, .horizontal{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px auto;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
  @media (max-width: 1000px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

* {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  color: #555;
  background: #222;
  text-align: center;
  font-family: 'Roboto Mono';
  padding: 1em;
}

h1 {
  font-size: 2.2em;
}

// base
.flip {
  position: relative;
  margin: 0 auto;
  @media (max-width: 1000px) {
    margin: 0;
  }
  >.front,
  >.back {
    display: block;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: .5s;
    transition-property: transform, opacity;
  }
  >.front {
    transform: rotateY(0deg);
  }
  >.back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
  &:hover {
    >.front {
      transform: rotateY(180deg);
    }
    >.back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
  &.flip-vertical {
    >.back {
      transform: rotateX(-180deg);
    }
    &:hover {
      >.front {
        transform: rotateX(180deg);
      }
      >.back {
        transform: rotateX(0deg);
      }
    }
  }
}

// custom
.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
  @media (max-width: 430px) {
    width: 300px;
  }

  @media (max-width: 1000px) {
    margin-right: 0;
  }
  >.front,
  >.back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover!important;
    background-position: center!important;
    height: 220px;
    padding: 1em 2em;
    background: #313131;
    border-radius: 10px;
    p {
      font-size: 0.9125rem;
      line-height: 160%;
      color: #999;
    }
  }
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}
