<div class="header">
  <div class="header__wrap">
    <div class="header__logo">
      <img src="/assets/icons/logo.png" class="header__logo__bsu-icon unselected" alt="">
      <div class="header__logo-text">
        <div class="header__logo-faculty">Факультет Радиофизики и Компьютерных Технологий</div>
        <div class="header__logo-bsu">Белорусский государственный университет</div>
      </div>
    </div>
    <div class="header__panel">
      <ng-container *ngIf="isActiveBurger">
        <div
          [ngClass]="{'header__panel-navbar_active':isActiveBurger}"
          class="header__panel-navbar">
          <div class="header__navbar-link">Лаборатории</div>
          <div class="header__navbar-link">Новости</div>
          <div class="header__navbar-link">Контакты</div>
        </div>
      </ng-container>
      <!--      <img src="/assets/icons/menu.png" class="header__panel-icon unselected" alt="">-->
      <div class="header__panel-icon header__panel-icon_menu"
           (click)="onToggleBurger()"
           [ngClass]="{'header__panel-icon_menu_active':isActiveBurger}">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <img src="/assets/icons/search.png"
           (click)="changeSearchState()"
           class="header__panel-icon header__panel-icon_search unselected" alt="">
      <img src="/assets/icons/input.png" class="header__panel-icon header__panel-icon_input unselected" alt="">
    </div>
  </div>
</div>
<ng-container *ngIf="isActiveBurger">
  <div
    [ngClass]="{'header__panel-navbar_active':isActiveBurger}"
    class="header__panel-navbar header__panel-navbar_mobile">
    <div class="header__navbar-link">Лаборатории</div>
    <div class="header__navbar-link">Новости</div>
    <div class="header__navbar-link">Контакты</div>
  </div>
</ng-container>
