<div class="news">
  <div class="news__main">

    <!--    <div class="news__prev"></div>-->

    <div class="news__block">
      <img src="assets/images/pic-4.jpg" class="news-block__pic">
      <div class="news-block__title">Объявляется Грант на Лучший Студентческий Проект</div>
      <div class="news-block__subtitle">
        <p></p>
      </div>
      <div class="news-block__text">
        <p>  <b>Новости | 1 ноября, 2020</b></p>
        <p>  В  рамках проекта “Студент года” будет выбран участник для международной деятельности
          в сфере электроники</p>
      </div>
    </div>
    <div class="news__block">
      <img src="assets/images/pic-4.jpg" class="news-block__pic">
      <div class="news-block__title">Объявляется Грант на Лучший Студентческий Проект</div>
      <div class="news-block__subtitle">
        <p></p>
      </div>
      <div class="news-block__text">
        <p>  <b>Новости | 1 ноября, 2020</b></p>
        <p>  В  рамках проекта “Студент года” будет выбран участник для международной деятельности
          в сфере электроники</p>
      </div>
    </div>

    <div class="news__block">
      <img src="assets/images/pic-4.jpg" class="news-block__pic">
      <div class="news-block__title">Объявляется Грант на Лучший Студентческий Проект</div>
      <div class="news-block__subtitle">
        <p></p>
      </div>
      <div class="news-block__text">
        <p>  <b>Новости | 1 ноября, 2020</b></p>
        <p>  В  рамках проекта “Студент года” будет выбран участник для международной деятельности
          в сфере электроники</p>
      </div>
    </div>

    <!--    <div class="news__next"></div>-->

  </div>
</div>



