<div class="news">
  <div class="news__main">

<!--    <div class="news__prev"></div>-->

    <div class="news__main__block-1">
      <img src="assets/images/pic-4.jpg" class="news__main__block-1__pic">
      <div class="news__main__block-1__title">Научные Разработки Факультета Вышли на Новый Уровень</div>
      <div class="news__main__block-1__subtitle"><b>Новости</b> | 11 октября, 2020
        <p></p>
        В рамках проекта “Студент года” будет выбран участник для международной деятельности в сфере электроники
      </div>
    </div>

    <div class="news__main__block-2">
      <img src="assets/images/pic-4.jpg" class="news__main__block-2__pic">
      <div class="news__main__block-2__title">Осенний Конкурс Среди Студентов Завершен</div>
      <div class="news__main__block-2__subtitle"><b>Новости</b> | 21 октября, 2020
        <p></p>
        В рамках проекта “Студент года” будет выбран участник для международной деятельности в сфере электроники
      </div>
    </div>

    <div class="news__main__block-3">
      <img src="assets/images/pic-4.jpg" class="news__main__block-3__pic">
      <div class="news__main__block-3__title">Объявляется Грант на Лучший Студентческий Проект</div>
      <div class="news__main__block-3__subtitle"><b>Новости</b> | 1 ноября, 2020
        <p></p>
        В рамках проекта “Студент года” будет выбран участник для международной деятельности в сфере электроники
      </div>
    </div>

<!--    <div class="news__next"></div>-->

  </div>
</div>



